.section {
    border: 1px solid #000;
    width: 30rem;
    height: 30.5rem;
    margin: auto;
}

.section h3 {
    font-weight: 100;
}


.title {
    background-color: darkgrey;
    height: 2rem;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    padding-left: 1rem;
}

.body_msg {
    width: 29.5rem;
    height: 19.5rem;
    margin-top: 0.5rem;
    overflow: auto; 
}
.textarea{
    height: 7rem;
}

.msg {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    background-color: darkgray;
    width: 20rem;
    margin: auto;
    padding: 0.5rem;
    border: 1px solid #000;
}

.msg_area {
    margin-left: 1rem;
    width: 28rem;
    border: 1px solid #000;
    
    height: 3rem;
}

.button_excluir {
    height: 1rem;
    width: 3rem;
    background-color: rgba(255, 0, 0, 0.479);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-size: 0.7rem;
}

.button_editar {
    height: 1rem;
    width: 3rem;
    background-color: rgba(255, 136, 0, 0.582);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-size: 0.7rem;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 29.1rem;
}

#btn_enviar {
    background-color: rgba(6, 6, 202, 0.897);
    color:white;
    width: 3rem;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 0.3rem;
    font-size: 0.7rem;
    margin-left: 0.5rem;

}

.editar {
    
    width: 27.8rem;
    
    
    height: 2.8rem;
}