body {
    background-color: blueviolet;

}

body h2 {
    color: white;
    text-align: center;
}

.section {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    padding: 1rem;
}

.textarea {
    width: 18rem;
}

.button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

